header {
  display: flex;
  justify-content: center;
}

.logo {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  margin: 0;
  padding: 15px;
}

// @include desktop-only {
//.logo {
//color: green;
//}
//}
